  /* --------------------- */
  /* Admin */
*{
    box-sizing:content-box;
    border: 0;
    padding: 0;
}

.mainAdm {
    background-color: #040D12;
    color: #93B1A6;
}

.articulosAdm table th{
    color: #93B1A6;
}

.articulosAdm table tr{
    color: white;
}

.botonesAdm button{
    background-color: #93B1A6;
    color: ##040D12;
}

.modalBodyAdm{
    background-color: #93B1A6;
}

.modalBodyAdm button{
    background-color: #040D12;
    color: white;
}

.modalHeaderAdm{
    background-color: #040D12;
    color: white;
}

.modalHeaderAdm h1{
    color: white;
}

.modalHeaderAdm button{
    background-color: #93B1A6;
}

/* fin Admin---  */